<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>OpenFest Demo</title>
  <%= stylesheet_link_tag "application" %>
  <%= favicon_link_tag "favicon.png" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= yield %>
</body>
</html>
